<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.promilo.automation.signupandlogin.MailLoginWithValidOtp"/>
      <class name="com.promilo.automation.signupandlogin.BlankFieldSignupValidation"/>
      <class name="com.promilo.automation.advertiser.mybilling.InvoicePreview"/>
      <class name="com.promilo.automation.registereduser.jobs.RegisteredUserShortList"/>
      <class name="com.promilo.automation.resumemodule.UploadProfilePictureUsingCamera"/>
      <class name="com.promilo.automation.advertiser.mybilling.AddingPrepaidFund"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.UserRequestIsAcceptedByTheAdvertiser"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.UserReceivesRescheduleRequestFromAdvertiser"/>
      <class name="com.promilo.automation.resumemodule.PersonalDetailsTest"/>
      <class name="com.promilo.automation.myintrests.MyintrestCancelled"/>
      <class name="com.promilo.automation.resumemodule.ProjectTest"/>
      <class name="com.promilo.automation.resumemodule.WhitePaper"/>
      <class name="com.promilo.automation.mymeetings.MymeetingWhenHostNotjoined"/>
      <class name="com.promilo.automation.registereduser.jobs.PhoneRegisteredJobApplyWithInvalidData"/>
      <class name="com.promilo.automation.advertiser.mybilling.Sendmail"/>
      <class name="com.promilo.automation.registereduser.jobs.NotifySimilarJobsWithInvalidData"/>
      <class name="com.promilo.automation.advertiser.mymeetings.RescheduleRequestFunctionality"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.WhenUsersOnlineMeetingWithRecruiterIsCompleted"/>
      <class name="com.promilo.automation.myintrests.MyintrestsReschedulePendingRequests"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserShortListWithInvalidData"/>
      <class name="com.promilo.automation.myassignments.AssignmentByUploadingpicture"/>
      <class name="com.promilo.automation.resumemodule.ResumeUploadFunctionality"/>
      <class name="com.promilo.automation.myassignments.Myassignment"/>
      <class name="com.promilo.automation.advertiser.campaign.FilterFunctionality"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.WhenUsersRescheduleRequestIsAccepted"/>
      <class name="com.promilo.automation.advertiser.mybilling.DownloadPdf"/>
      <class name="com.promilo.automation.registereduser.jobs.PhoneRegisteredApplyJob"/>
      <class name="com.promilo.automation.advertiser.mymeetings.InviteFunctionality"/>
      <class name="com.promilo.automation.registereduser.jobs.RegisteredUserFeedBack"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.WhenUserAcceptsRecruitersRescheduleRequest"/>
      <class name="com.promilo.automation.resumemodule.Certificate"/>
      <class name="com.promilo.automation.myassignments.MyassignmentUsingUpload"/>
      <class name="com.promilo.automation.advertiser.mymeetings.MymeetingsHostFunctionality"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserAskUs"/>
      <class name="com.promilo.automation.advertiser.campaign.CallbackOrTalktoExpertRejectFunctionality"/>
      <class name="com.promilo.automation.advertiser.campaign.ProspectRescheduleFunctionality"/>
      <class name="com.promilo.automation.advertiser.mybilling.InvoiceFilterbaseOndays"/>
      <class name="com.promilo.automation.resumemodule.AddEmployment"/>
      <class name="com.promilo.automation.myintrests.MyintrestAcceptedStatus"/>
      <class name="com.promilo.automation.advertiser.campaign.DelegateFunctionality"/>
      <class name="com.promilo.automation.emailnotifications.user.gethrcall.GetHRCallInitiated"/>
      <class name="com.promilo.automation.emailnotifications.user.gethrcall.GetHrCallRequestRejected"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.UserSendsReminderForAppliedJob"/>
      <class name="com.promilo.automation.emailnotifcations.advertiser.RescheduleRequestAccepted"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserAskUsWithInvalidOTP"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserNotifySimilarJobsWithInvalidOTP"/>
      <class name="com.promilo.automation.advertiser.loginandregister.AdvertiserValidLogin"/>
      <class name="com.promilo.automation.advertiser.mymeetings.MymeetingsFilterFunctionaliy"/>
      <class name="com.promilo.automation.advertiser.loginandregister.SignupUsingTryForFree"/>
      <class name="com.promilo.automation.registereduser.jobs.RegisteredUserShortListWithInvalidData"/>
      <class name="com.promilo.automation.advertiser.campaign.CommentFunctionality"/>
      <class name="com.promilo.automation.signupandlogin.SigninWithLinkedin"/>
      <class name="com.promilo.automation.advertiser.mymeetings.CommentFunctionality"/>
      <class name="com.promilo.automation.advertiser.campaign.CreateCampaign"/>
      <class name="com.promilo.automation.emailnotifcations.advertiser.GetHrCallReject"/>
      <class name="com.promilo.automation.signupandlogin.WrongEmailCorrectPasswordLogin"/>
      <class name="com.promilo.automation.advertiser.mymeetings.ViewScreeningQuestionsandAssignments"/>
      <class name="com.promilo.automation.resumemodule.SocialProfile"/>
      <class name="com.promilo.automation.signupandlogin.ExistingUserSignupMail"/>
      <class name="com.promilo.automation.resumemodule.WorkSamplePage"/>
      <class name="com.promilo.automation.emailnotifcations.advertiser.GetHrCallInitiated"/>
      <class name="com.promilo.automation.mymeetings.JoinmeetingFunctionality"/>
      <class name="com.promilo.automation.signupandlogin.SignupWithExistingPhoneNumberTest"/>
      <class name="com.promilo.automation.emailnotifications.user.gethrcall.ShortlistEmailnotificationValidation"/>
      <class name="com.promilo.automation.signupandlogin.BlankFieldLoginValidation"/>
      <class name="com.promilo.automation.myassignments.MyassignmentDraft"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserJobApplyWithExistingPhoneAndEmail"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserRegisterWithUS"/>
      <class name="com.promilo.automation.myassignments.AssignmentWithoutProvidingData"/>
      <class name="com.promilo.automation.registereduser.jobs.MailRegisteredUserJobApplicationWithINvalidotp"/>
      <class name="com.promilo.automation.advertiser.campaign.MyprospectFolderCreation"/>
      <class name="com.promilo.automation.signupandlogin.PasswordBoundarySignup"/>
      <class name="com.promilo.automation.resumemodule.Patent"/>
      <class name="com.promilo.automation.signupandlogin.ResetPasswordwith_Existingmail"/>
      <class name="com.promilo.automation.signupandlogin.ExistingUserSignupPhone"/>
      <class name="com.promilo.automation.emailnotifications.user.gethrcall.GetHrCallRequestAccepted"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.WhenUsersRescheduleRequestIsDeclined"/>
      <class name="com.promilo.automation.emailnotifcations.advertiser.AcceptTheGetHrCallRequest"/>
      <class name="com.promilo.automation.registereduser.jobs.MaiLRegisteredUserInvalidJobApply"/>
      <class name="com.promilo.automation.registereduser.jobs.GetHrCallInitiatedTest"/>
      <class name="com.promilo.automation.registereduser.jobs.PhoneRegisteredJobApplyWithInvalidOtp"/>
      <class name="com.promilo.automation.signupandlogin.InvalidPhoneSignUp"/>
      <class name="com.promilo.automation.resumemodule.UploadProfilePicture"/>
      <class name="com.promilo.automation.resumemodule.BasicDetailsFunctionality"/>
      <class name="com.promilo.automation.signupandlogin.InvalidEmailSignUp"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserShortList"/>
      <class name="com.promilo.automation.myassignments.MyassignmentFeedback"/>
      <class name="com.promilo.automation.myintrests.MyintrestsRejected"/>
      <class name="com.promilo.automation.resumemodule.ITskills"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserShortListWithInvalidOTP"/>
      <class name="com.promilo.automation.registereduser.jobs.MailRegisteredUserJobApplicationTest"/>
      <class name="com.promilo.automation.advertiser.mybilling.InvoiceInfo"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserAskUsWithInvalidData"/>
      <class name="com.promilo.automation.signupandlogin.Signup"/>
      <class name="com.promilo.automation.registereduser.jobs.RegisteredUserShortListWithInvalidOtp"/>
      <class name="com.promilo.automation.resumemodule.ResumePreview"/>
      <class name="com.promilo.automation.signupandlogin.PhoneLoginWithInvalidOtp"/>
      <class name="com.promilo.automation.resumemodule.KeySkillsTest"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserJobApplyWithInvalidOtp"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.UserRequestisRejectedByTheAdvertiser"/>
      <class name="com.promilo.automation.registereduser.jobs.AskUsWithInvalidData"/>
      <class name="com.promilo.automation.advertiser.campaign.CallbackOrTalktoShortListFunctionality"/>
      <class name="com.promilo.automation.advertiser.mybilling.InvoiceFiltercustomdata"/>
      <class name="com.promilo.automation.registereduser.jobs.NotifySimilarJobsWithInvalidOTP"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserNotifySimilarJobs"/>
      <class name="com.promilo.automation.advertiser.mybilling.MybillingaddFunds"/>
      <class name="com.promilo.automation.advertiser.mybilling.InvoiceSearchFunctionality"/>
      <class name="com.promilo.automation.signupandlogin.SignUpWithExistingMail"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.UserOptsToCancelTheAppliedJob"/>
      <class name="com.promilo.automation.resumemodule.CareerProfilePositiveTest"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserJobApply"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.WhenUserRejectsRecruitersRescheduleRequest"/>
      <class name="com.promilo.automation.signupandlogin.ValidLogin"/>
      <class name="com.promilo.automation.emailnotifications.jobapply.UserInitiatesApplyingForJob"/>
      <class name="com.promilo.automation.registereduser.jobs.AskUsJobTestWithInvalidOtp"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserJobApplyWithInvalidData"/>
      <class name="com.promilo.automation.advertiser.campaign.CallbackOrTalktoExpertApprovefunctionality"/>
      <class name="com.promilo.automation.advertiser.campaign.ProspectApproveFunctionality"/>
      <class name="com.promilo.automation.myintrests.MyintrestCancelFunctionality"/>
      <class name="com.promilo.automation.advertiser.campaign.ShortListFunctionality"/>
      <class name="com.promilo.automation.registereduser.jobs.GetHrCallTestWithInvalidOtp"/>
      <class name="com.promilo.automation.registereduser.jobs.NotifySimilarJobs"/>
      <class name="com.promilo.automation.registereduser.jobs.EmailJobApplyWithExistingPhone"/>
      <class name="com.promilo.automation.signupandlogin.PhoneLoginWithValidOtp"/>
      <class name="com.promilo.automation.registereduser.jobs.AskUsJobTest"/>
      <class name="com.promilo.automation.registereduser.jobs.GetHrCallWithInvalidData"/>
      <class name="com.promilo.automation.advertiser.campaign.ProspectRejectFunctionality"/>
      <class name="com.promilo.automation.advertiser.campaign.ProspectCardValidation"/>
      <class name="com.promilo.automation.guestuser.jobs.GuestUserHrCall"/>
      <class name="com.promilo.automation.myintrests.MyintrestRescheduling"/>
      <class name="com.promilo.automation.signupandlogin.CorrectEmailWrongPass"/>
      <class name="com.promilo.automation.resumemodule.ResumeHeadLine"/>
      <class name="com.promilo.automation.resumemodule.Presentation"/>
      <class name="com.promilo.automation.signupandlogin.MailLoginWithInvalidOtp"/>
      <class name="com.promilo.automation.advertiser.mymeetings.DelegateFunctionality"/>
      <class name="com.promilo.automation.resumemodule.UploadProfilePictureUsingLink"/>
      <class name="com.promilo.automation.advertiser.mybilling.AddFundsFromTheAdmin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
